.page-header{
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.sidebar {
  width: 15vw;
  min-width: 105px;
  min-height: 95vh;
  padding-top: 0%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid #dfdede;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #f7f7f7;
}

.page {
  width: 85vw;
  height: 95vh;
  background-color: #f7f7f7;
}

.bi {
  /* bold */
  font-weight: 900;
  font-size: 1.3rem;
  cursor: pointer;
}

.sign-up-container{
  height: 100vh;
  width: 100vw;
}

.bg-image{
  background-image: url("../img/bg-image.png");
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}

.color-secundario{
  color: rgb(111 183 70);
}

.color-primario{
  color: rgb(36 59 137);
}

.bg-color-secundario{
  background-color: rgb(111 183 70)!important;
}

.bg-color-primario{
  background-color: rgb(36 59 137)!important;
}

.logo{
  width: 25%;
}